.root {
  padding: 10px 0;
}

.usersWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.userCard {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pageLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.usersLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

@media (max-width: 320px) { 
  .userCard>p {
    display: none;
  }
}
